<h3>
{{input value=value key-up=(action 'handleFilterEntry') class="focusedInput" placeholder="Type Company Name Here"}}
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</h3>
<br>
{{yield results}}